---
import '@/styles/globals.css';

import { ViewTransitions } from 'astro:transitions';
// import Metadata from '@/components/Metadata.astro';
import { Header } from '@/components/Header.tsx';

// const metadata = {};

// const { props } = Astro;
---

<html lang="en" dir="ltr" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- <Metadata {...{ ...metadata, ...props }} /> -->

    <!-- Uncomment line below to activate View Transitions -->
    <!-- <ViewTransitions fallback="swap" /> -->

    <title>BLOB-20 Specification - Blobbed.xyz</title>
    <ViewTransitions fallback="animate" />
  </head>

  <body>
    <Header disableToggle active="/blob-20-spec" client:load />

    <div class="markdown flex flex-col items-center p-10">
      <div class="prose text-foreground w-full"><div><slot /></div></div>
    </div>

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>

    <script is:inline>
      // const getThemePreference = () => {
      //   if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      //     return localStorage.getItem('theme');
      //   }
      //   return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      // };
      // const isDark = getThemePreference() === 'dark';
      // document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

      // if (typeof localStorage !== 'undefined') {
      //   const observer = new MutationObserver(() => {
      //     const isDark = document.documentElement.classList.contains('dark');
      //     localStorage.setItem('theme', isDark ? 'dark' : 'light');
      //   });
      //   observer.observe(document.documentElement, {
      //     attributes: true,
      //     attributeFilter: ['class'],
      //   });
      // }
    </script>
  </body>
</html>
