---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="API Docs">
  <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8">
    <p>
      For now, study the source code in the Github repository on <a
        href="https://github.com/tunnckoCore/monarch/tree/master/apps/blobbed.xyz"
        class="text-primary">`src/pages/api/`</a
      > folder.
    </p>

    <code
      ><pre>
  - GET /api/blobs/decode?hash=:tx_hash or comma separated blob_versioned_hashes
  - POST /api/blobs/create - normalize and generate blob data
  - POST /api/blobs/inscribe - send transaction with generated blobs

  - POST /api/blob20/deploy - deploy a new token
  - POST /api/blob20/mint - mint amount of token
  - POST /api/blob20/transfer - transfer tokens

  - GET /api/generate-wallet - generated ones are not written anywhere

  // can be used for any ethscriptions, it uses imagemin-webp
  - POST /api/optimize-files - optimize files, using gzip / converting to webp (if image)
    </pre></code
    >
  </main>
</Layout>
