---
import { Header } from '@/components/Header';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="API Docs">
  <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8">
    <p>
      For now, study the source code in the Github repository on <a
        href="https://github.com/tunnckoCore/monarch/tree/master/apps/blobbed.xyz"
        class="text-primary">`src/pages/api/`</a
      > folder.
    </p>
  </main>
</Layout>
