---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Create Blobscriptions - Blobbed.xyz">
  <main class="flex flex-col items-center p-10">
    <h1>Welcome to <span class="text-gradient">Blobbed.xyz</span></h1>
    <p class="flex items-center w-2/3">
      Upgrading infrastructure and stuff. The Open Source place for all things Blobscriptions
      (Ethscriptions ESIP-8) and Blob-20 tokens. Documentation, BLOB-20 specification, tools,
      wallet, indexer, and APIs.
    </p>
  </main>
</Layout>
